{% extends 'MarksBundle::base.html.twig' %}
{% block title %}Décisions du jury{% endblock %}

{% block content %}
	<h2>Décisions pour le semestre <b>{{ semester }}</b> de <b>{{ year }}/{{ year+1 }}</b></h2>
	<br>
	{% if boardDecisions|length > 0 %}
		<table class="table table-hover">
			<tr>
				<th>Nom</th>
			    <th>Identifiant universitaire</th>
			    <th>Avis du jury</th>
			    <th>Action</th>
			</tr>
			{% for boardDecision in boardDecisions %}
				<tr>
				  	<td>{{ students[boardDecision.student].name }}</td>
				    <td>{{ students[boardDecision.student].id }}</td>
					    <td>
				    		<form id="form-{{ students[boardDecision.student].id }}" class="form-horizontal" action="{{ path('marks_boarddecision_editdecision', {'year': year, 'semester' : semester, 'student' : students[boardDecision.student].id}) }}" method="POST">
						    	<fieldset disabled id="fieldset-{{ students[boardDecision.student].id }}">
								    <select class="form-control" id="decision-{{ students[boardDecision.student].id }}" name="decision">
										{% for decision in decisions %}
											<option {% if decision.id==boardDecision.decision %}selected{% endif %} value="{{ decision.id }}">{{ decision.label }}</option>
										{% endfor %}
									</select>
								</fieldset>
				  			</form>
					    </td>
					    <td>
					    	<button class="btn btn-default" type="button" id="edit-{{ students[boardDecision.student].id }}" onclick="showEdit({{ students[boardDecision.student].id }})">Editer</button>
					    	<button class="btn btn-default hidden" type="button" id="submit-{{ students[boardDecision.student].id }}" onclick="hideEdit({{ students[boardDecision.student].id }});">Envoyer</button>
					   	</td>
				</tr>
			{% endfor %}
		</table>
    {% else %}
    	Il n'y a aucun avis.
	{% endif %}
{% endblock %}

{% block script %}
	function showEdit(id){
		$('#edit-'+id).addClass('hidden');
		$('#fieldset-'+id).prop("disabled",false);
		$('#submit-'+id).removeClass('hidden');
	}

	function hideEdit(id){
		$('#form-'+id).submit();
		$('#edit-'+id).removeClass('hidden');
		$('#fieldset-'+id).prop("disabled",true);
		$('#submit-'+id).addClass('hidden');
	}



{% endblock %}