{% extends 'MarksBundle::base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block content %}
	<h1>Pegasus Marks</h1>
	<br/>
	<div class="col-xs-6">
		<h2>Vos matières</h2>
		<br>
		<table class="table table-striped">
			<tr>
				<th>Label</th>
				<th>Nom complet</th>
				<th></th>
			</tr>
			{% for module in modules %}
				<tr>
					<td>{{ module.label }}</td>
					<td>{{ module.fullName }}</td>
					<td><a class="btn btn-xs btn-primary" href="{{ path('_module', {'label': module.label}) }}">Voir</a></td>
				</tr>
			{% endfor %}<br>

		</table>
	</div>

	<div class="col-xs-6">
		<h2>Décisions du jury</h2>
		<br>
		<table class="table table-striped">
			<tr>
				<th>Année</th>
				<th>Semestre</th>
				<th></th>
			</tr>
			{% for semester in semesters %}
				<tr>
					<td>{{ semester.year }}</td>
					<td>{{ semester.semester }}</td>
					
					<td><a class="btn btn-xs btn-primary" href="{{ path('_decision', {'year': semester.year, 'semester': semester.semester }) }}">Voir</a></td>
				</tr>
			{% endfor %}<br>

		</table>
	</div>
{% endblock %}