{% extends 'MarksBundle::base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block content %}
	<h1>Connexion</h1>

	<form action="postLogin" method="post">
		<label for="login">Login</label>
		<input type="text" name="login">
		<button type="submit">OK</button>
	</form>

	{% if error is defined %}
	    {{ error }}
	{% endif %}
{% endblock %}