{% extends 'MarksBundle::base.html.twig' %}
{% block title %}Module {{ module.fullName }}{% endblock %}

{% block content %}
	<h2>Note du module <strong>{{ module.fullName }}</strong>  par semestre</h2>
	<br>
	{% if marks|length > 0 %}
		{% set year = marks[0].year %}
		{% for mark in marks %}

			{% if year!=mark.year or marks[0]==mark %}
				{% if year!=mark.year %}
					</table><br>
					<br>
				{% endif %}
				<h3>Semestre {{ mark.module[3:1] }} (année {{ mark.year }}/{{ mark.year+1 }})</h3>
				<br>
				<table class="table table-hover">
					<tr>
						<th>Nom</th>
					    <th>Identifiant universitaire</th>
					    <th>Note</th>
					    <th>Action</th>
				  	</tr>
			{% endif %}
			  <tr>
			  	<td>{{ students[mark.student].name }}</td>
			    <td>{{ mark.student }}</td>
			    <form class="form-horizontal" action="{{ path('marks_mark_editmodulemark', {'moduleLabel': module.label, 'student' : students[mark.student].id })}}" method="POST">
			    <td> <input type="text" class="form-control" readonly id="mark-{{ students[mark.student].id }}" name="mark" value="{{ mark.mark }}"></td>
			    <td>
			    	<button class="btn btn-default" type="button" id="edit-{{ students[mark.student].id }}" onclick="showEdit({{ students[mark.student].id }})">Editer</button>
			    	<button class="btn btn-default hidden" type="submit" id="submit-{{ students[mark.student].id }}" onclick="hideEdit({{ students[mark.student].id }})">Envoyer</button>
			   	</td>
			  	</form>
			  </tr>
			{% set year = mark.year %}
		{% endfor %}
    	</table>
    {% else %}
    	Aucune note.
	{% endif %}
{% endblock %}

{% block script %}
	function showEdit(id){
		$('#edit-'+id).addClass('hidden');
		$('#mark-'+id).prop("readonly",false);
		$('#submit-'+id).removeClass('hidden');
	}

	function hideEdit(id){
		$('#edit-'+id).removeClass('hidden');
		$('#mark-'+id).prop("readonly",true);
		$('#submit-'+id).addClass('hidden');
	}
{% endblock %}