{% extends 'MarksBundle::base.html.twig' %}
{% block title %}Liste des etudiants{% endblock %}

{% block content %}
	<h1>Liste des étudiants</h1>
	<br>
	<table class="table table-striped">
		<tr>
		    <th>Identifiant universitaire</th>
			<th>Nom</th>
		    <th></th>
		</tr>
	{% for student in students %}
		<tr>
			<td>{{ student.id }}</td>
			<td>{{ student.name }}</td>
			<td><a class="btn btn-xs btn-primary" href="{{ path('_student', {'id': student.id}) }}">Voir</a></td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}