{% extends 'MarksBundle::base.html.twig' %}
{% block title %}Eleve {{ student.name }}{% endblock %}

{% block content %}
	<h2>Détails de l'élève</h2>
	<br>
	<table>
		<tr>
			<td><b>Nom : &nbsp;</b></td>
			<td>{{ student.name }}</td>
		</tr>

		<tr>
			<td><b>Identifiant : &nbsp;</b></td>
			<td>{{ student.id }}</td>
		</tr>
	</table>
	<hr>
	<h2>Relevé de notes</h2>
	<br>
	{% set year = marks[0].year %}
	{% for mark in marks %}
		{% if year!=mark.year or marks[0]==mark %}
			{% if year!=mark.year %}
				</table><br>
				<br>
			{% endif %}
			<h3>Semestre {{ mark.module[3:1] }} (année {{ mark.year }}/{{ mark.year+1 }}) :</h3>
			<br>
			<table class="table">
			<tr>
				<th>Nom de la matière</th>
			    <th>Etiquette</th>
			    <th>Note</th>
		  	</tr>
		{% endif %}
		  <tr>
		  	<td>{{ modules[mark.module].fullName }}</td>
		    <td>{{ mark.module }}</td>
		    <td>{{ mark.mark }}</td>
		  </tr>
		{% set year = mark.year %}
	{% endfor %}
	{% if marks|length > 0 %}
    	</table>
	{% endif %}
{% endblock %}