{% extends 'MarksBundle::base.html.twig' %}
{% block title %}Avis de poursuite d'études{% endblock %}

{% block content %}
	{% if students|length > 0 %}
		<h2>Décisions pour les poursuites d'études de l'année {{ year }}/{{ year+1 }}</b></h2>
		<br>
		<table class="table table-hover">
			<tr>
				<th>Nom</th>
			    <th>Identifiant universitaire</th>
			    <th>Modules</th>
			    <th>Notes</th>
			    <th>Avis de poursuite d'études</th>
			    <th>Action</th>
			</tr>
			{% for student in students %}
				<tr>
					<td>{{ student.name }}</td>
				    <td>{{ student.id }}</td>
				    <td>
				    	{% for module in modules %}
				    		{% for mark in marks %}
				    			{% if mark.student==student.id and module.label==mark.module %}
				    				{{ module.fullName }}<br>
				    			{% endif %}
				    		{% endfor %}
				    	{% endfor %}
				    </td>
				    <td>
				    	{% for module in modules %}
				    		{% for mark in marks %}
				    			{% if mark.student==student.id and module.label==mark.module %}
				    				{{ mark.mark }}<br>
				    			{% endif %}
				    		{% endfor %}
				    	{% endfor %}
				    </td>
				    <td>
				    	<form class="form-horizontal" action="{{ path('marks_notice_editnotice', {'year': year, 'student' : student.id }) }}" method="POST">
				    		<input type="text" class="form-control" readonly id="notice-{{ student.id }}" name="notice" value="{% for notice in notices %}{% if notice.student==student.id and notice.year==year %}{{ notice.content }}{% endif %}{% endfor %}">
				    </td>
				    <td>
				    	<button class="btn btn-default" type="button" id="edit-{{ student.id }}" onclick="showEdit({{ student.id }})">Editer</button>
				    	<button class="btn btn-default hidden" type="submit" id="submit-{{ student.id }}" onclick="hideEdit({{ student.id }})">Envoyer</button>
				   	</td>
				    </form>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}

{% block script %}
	function showEdit(id){
		$('#edit-'+id).addClass('hidden');
		$('#notice-'+id).prop("readonly",false);
		$('#submit-'+id).removeClass('hidden');
	}

	function hideEdit(id){
		$('#edit-'+id).removeClass('hidden');
		$('#notice-'+id).prop("readonly",true);
		$('#submit-'+id).addClass('hidden');
	}
{% endblock %}