<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" >
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}" >
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" >
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('marks_teacher_index') }}">
                    <img src="{{ asset('img/logo.png') }}" alt="Logo" id="logo">
                </a>
				<a class="navbar-brand" href="{{ path('marks_teacher_index') }}">PegasusMarks</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('marks_teacher_index') }}"><b>Accueil</b></a></li>
                    <li><a href="{{ path('_students') }}">Étudiants</a></li>
                </ul>

                {% if app.session.get('login')|length > 0 %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.session.get('user').getName() }}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('marks_teacher_logout') }}">Déconnexion</a></li>
						  </ul>
					</li>
                </ul>
                {% endif %}

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


        <div id="content" class="col-md-8 col-md-offset-2">
            {% block content %}{% endblock %}
        </div>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript">
            {% block script %}{% endblock %}
        </script>
    </body>
</html>